<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="BlacklistPath" value="F:\TV Shows\blacklist.xml" />
    <add key="EligibleFileTypes" value="avi,wmv,flv,mpg,mov,mpeg,ogv"/>
    <add key="Groups" value="F:\TV Shows\Groups.xml"/>
  </appSettings>
</configuration>
